@{
    ViewData["Title"] = "عن الموقع";
}
<div class="mdc-layout-grid">
    <div class="mdc-card mdc-layout-grid__cell--span-12 mdl-color--deep-purple sec-bar">
        <h3>برنامج كخدمة</h3>
        <h4>Software as a service (SAAS)</h4>
    </div>
    </div>

    <div class="flex">
        <div class="jumbotron" dir="rtl">
            تزيل ادارة العلاقات الحاجة للمنظمات لتثبيت وتشغيل التطبيقات على أجهزة الكمبيوتر الخاصة بهم أو في مراكز البيانات الخاصة بهم. هذا يلغي حساب اكتساب الأجهزة، والمخصصات والصيانة، فضلا عن ترخيص البرمجيات وتركيب والدعم. وتشمل المزايا الأخرى لنموذج ادارة العلاقات ما يلي:

            المدفوعات المرنة: بدلا من شراء برامج لتثبيت، أو أجهزة إضافية لدعمه، والزبائن الاشتراك في عرض ادارة العلاقات. وبصفة عامة، يدفعون ثمن هذه الخدمة على أساس شهري باستخدام نموذج الدفع أولا بأول. ويسمح نقل التكاليف إلى المصروفات التشغيلية المتكررة للعديد من الشركات بممارسة ميزنة أفضل وأكثر قابلية للتنبؤ بها. يمكن للمستخدمين أيضا إنهاء العروض ادارة العلاقات في أي وقت لوقف تلك التكاليف المتكررة.

            قابلية التوسع: الخدمات السحابية مثل ادارة العلاقات مع توفر قابلية عالية، مما يتيح للعملاء خيار الوصول إلى المزيد أو أقل من الخدمات أو الميزات بناء على الطلب.

            برو +
            يحتوى
            العثور على المزيد برو + المحتوى والعضو الآخر يقدم فقط، هنا.
            E-هاندبوك
            يبقى أوبنستاك الخيار الوحيد لمنصة سحابة مفتوحة المصدر
            E-هاندبوك
            لإدارة السحب المتعددة، انظر إلى الأتمتة
            الفصل الإلكتروني
            اتخاذ قرار بشأن ما يحدث في بيئة متعددة السحابة
            التحديثات التلقائية: بدلا من شراء برامج جديدة، يمكن للعملاء الاعتماد على مزود خدمة ادارة العلاقات لأداء التحديثات وإدارة التصحيح تلقائيا. هذا يقلل من العبء على موظفي تكنولوجيا المعلومات في المنزل.

            إمكانية الوصول والمثابرة: بما أن تطبيقات ادارة العلاقات مع تسليمها عبر الإنترنت، يمكن للمستخدمين الوصول إليها من أي جهاز وموقع متصلين بالإنترنت.

            ولكن ادارة العلاقات مع بعض العيوب المحتملة. يجب أن تعتمد الشركات على الموردين الخارجيين لتوفير البرنامج، والحفاظ على هذا البرنامج وتشغيلها، وتتبع والإبلاغ عن الفواتير دقيقة وتسهيل بيئة آمنة للبيانات الأعمال. يمكن لمقدمي الخدمات الذين يعانون من انقطاع الخدمة أو فرض تغييرات غير مرغوب فيها على عروض الخدمة أو تجربة خرق أمني أو أي مشكلة أخرى أن يكون لها تأثير عميق على قدرة العملاء على استخدام عروض خدمات ادارة العلاقات هذه. ونتيجة لذلك، يجب على المستخدمين فهم اتفاقية مستوى الخدمة الخاصة ب ساس لمقدم الخدمة، والتأكد من فرضها.

            ويرتبط النظام ساس ارتباطا وثيقا ب أسب (مقدم خدمة التطبيق) ونماذج تسليم برمجيات الحوسبة الطلبية. نموذج إدارة التطبيقات المستضافة من ادارة العلاقات مع مشابهة ل أسب: مزود يستضيف برنامج العميل وتسليمها للمستخدمين النهائيين المعتمدة عبر الإنترنت. في البرنامج على الطلب ادارة العلاقات مع نموذج، مزود يوفر للعملاء الوصول إلى شبكة على نسخة واحدة من التطبيق الذي الموفر إنشاؤها خصيصا لتوزيع ادارة العلاقات مع. شفرة المصدر التطبيق هو نفسه لجميع العملاء وعندما يتم طرح ميزات جديدة من وظائف، يتم طيها إلى جميع العملاء. اعتمادا على اتفاقية مستوى الخدمة (سلا)، قد يتم تخزين بيانات العميل لكل نموذج محليا، في السحابة أو على حد سواء محليا وفي السحابة.

            الحصول على مشغل الفلاش
            ويمكن للمنظمات أن تدمج تطبيقات ادارة العلاقات مع برامج أخرى باستخدام واجهات برمجة التطبيقات (أبيس). على سبيل المثال، يمكن لرجال الأعمال كتابة أدوات البرمجيات الخاصة بهم واستخدام واجهات برمجة التطبيقات لموفر ساس لدمج تلك الأدوات مع عرض ادارة العلاقات.

            هناك تطبيقات ادارة العلاقات مع تقنيات الأعمال الأساسية، مثل البريد الإلكتروني، وإدارة المبيعات، وإدارة علاقات العملاء (كرم)، والإدارة المالية، وإدارة الموارد البشرية، والفواتير والتعاون. وتشمل مقدمي خدمات ادارة العلاقات الرائدة ساليسفورس، أوراكل، ساب، إنتوت ومايكروسوفت.
        </div>
    </div>
