@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "الأحداث";
}

<div class="mdc-grid-list" dir="rtl">
    <div class="mdc-grid-list__tiles">
        <div class="mdc-grid-tile">
            <div class="mdc-card">
                <h4 class="mdc-card__primary">جامعة الجزيرة تشرع  في التعليم الالكتروني</h4>
                <img class="mdc-card__media-item--2x" src="~/images/moodlenew.jpg" />
                <p class="mdc-card__supporting-text">أنطلقت اليوم بمباني مركز تطوير التعليم الجامعي الدورة التدريبية التي تنظمها إدارة المعلوماتية بالتعاون مع مركز التطوير الجامعي بالتنسيق مع كلية العلوم الرياضية والحاسوب  في التعليم  الإلكتروني )نظامMoodle   (  برعاية السيد مدير الجامعة وتستمر الدورة حتي يوم الخميس الموافق 30/3/2017واكدت الدكتورة مها محمد عبيد زيادة مدير ادارة المعلوماتية بان إدارتها تسعى لتطوير الخدمات الإلكترونية علي موقع جامعة الجزيرة واعلنت عن جاهزية نظام الموودل للتدريس الالكتروني بالجامعة واهمية التعليم الالكتروني في العملية التدريسية ومن جانبه دكتور عبد الله الفكي مدير المركز ثمن علي دور ادارة المعلوماية بالجامعة واوضح بان هذة الدورة تاتي في سلسلة الدورات التي تستهدف تنمية قدرات اعضاء هيئة التدريس في تنمية الجدارات التدريسية وتوظيف الحاسوب والانترنت في عملية التعليم والتعلم واستخدام البريد الالكتروني والمواقع الاجتماعية في العملية التعليمية وشدد علي المتدربين بان تتنزل الدورة علي ارض الواقع في مجال التدريس الجامعي وابتدرت الدورة الخبيرة في مجال التعليم الالكتروني المهندسة عزه كمال بمجموعة من الاسئلة في مجال التعليم الالكتروني واهميتة والفوائد التي يجنيها الاستاذ والطالب منه.</p>
            </div>
        </div>
        <div class="mdc-grid-tile tile">
            <div class="mdc-card">
                <h4 class="mdc-card__primary">ورشة عمل لتفعيل خدمات التعليم الالكتروني</h4>
                <img class="mdc-card__media-item--2x" src="~/images/MG_0072-848x350.jpg" />
                <p class="mdc-card__supporting-text"> نظمت وحدة التدريب بإدارة المعلوماتية سلسلة من ورش العمل لتفعيل الخدمات  الإلكترونية علي موقع الجامعة تماشياً مع الهدف العام لإدارة المعلوماية وهو  جعل جامعة الجزيرة جامعة الكترونية كان العرض يتكون من ثلاث محاور:

اهمية الموقع الالكتروني.
المعاملات الالكترونية(شرح عام عن البوابة الالكترونية).
البريد الالكتروني للجامعة وكيفية استخدامه.
التعليم الالكتروني (برنامج الموودل)</p>
            </div>
        </div>
        <div class="mdc-grid-tile">
            <div class="mdc-card">
                <h4 class="mdc-card__primary">اجتماع يناقش البنى التحتية والتعليم والتعلم</h4>
                <img class="mdc-card__media-item--2x" src="~/images/goda-848x350.jpeg" />
                <p class="mdc-card__supporting-text">عاد رؤساء وحدات الجودة بجامعة الجزيرة إلى مركز تطوير التعليم الجامعي هذه المرة وفي معيتهم التقارير الخاصة بمحور البنى التحتية والتعليم والتعلم، ولم يكن الحضور في الاجتماع الشهري الذي تحدد له السابع والعشرون من أكتوبر الجاري، بأقل عن سابقه، فلم تزل جدية هؤلاء النفر في الوصول بقضية الجودة إلى مبتغاها حاضرة وذلك من خلال استعراض تقارير الكليات.
                </p>
            </div>
        </div>
        <div class="mdc-grid-tile">
            <div class="mdc-card">
                <h4 class="mdc-card__primary">محاضرة للتوعية بسرطان الثدي بقاعة الشهداء &nbsp;</h4>
                <img class="mdc-card__media-item--2x" src="~/images/14536601_1095329407188122_1060981948_o-300x199.jpg" />
                <p class="mdc-card__supporting-text">تقيم رابطة أصدقاء مرضي السرطان (راما)، ومنظمة الباحثات السودانيات في العلوم بالتعاون مع رابطة خريجي جامعة الجزيرة المحاضرة التوعوية لسرطان الثدي_oوذلك في العشرين من أكتوبر الجاري في تمام الساعة الحادية عشر والنصف صباحاً بقاعة الشهداء بالمدينة الجامعية النشيشيبة.
                 </p>
            </div>
        </div>
        <div class="mdc-grid-tile">
            <div class="mdc-card">
                <h4 class="mdc-card__primary">المؤتمر العام يؤكد التزامه بالوثيقة الوطنية</h4>
                <img class="mdc-card__media-item--2x" src="~/images/321-848x350.jpg" />
                <p class="mdc-card__supporting-text">عبر المؤتمر العام للحوار الوطنى عن رضاه بما تم التوافق عليه فى الوثيقة الوطنية مؤكداً الالتزام المطلق بها وحمايتها بوصفها ملك لكل أهل السودان دون إستثناء .

وعبر فى بيان صحفى عن شكره وإمتنانه لأصحاب الفخامة الرؤساء ومبعوثى الدول الشقيقة والصديقة وممثلى المنظمات الإقليمية والدولية الذين شاركوا فى جلسة المؤتمر العام للحوار الوطنى.

 كما توجه المؤتمر بكل الشكر للآلية التنسيقية العليا للحوار (7+7) والأمانة العامة وكل فصائل المجتمع السوداني داخل الوطن وخارجه والتي شاركت وأسهمت في هذه الملحمة الوطنية وإنجاح الحوار.
                    </p>
</div>
        </div>
    </div>
</div>