@model IEnumerable<eCollege.Data.Timetable>

@{
    ViewData["Title"] = "الجدول الزمني";
}

<h2 class="mdc-card sec-bar" style="width:100%;color:indigo">جدول المحاضرات</h2>

<table class="calendar table table-bordered" dir="rtl">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th width="20%">الأحد</th>
            <th width="20%">الأثنين</th>
            <th width="20%">الثلاثاء</th>
            <th width="20%">الأربعاء</th>
            <th width="20%">الخميس</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>08:00</td>

            <td class="has-events" rowspan="4">
                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">تصميم مترجمات</span> <span class="lecturer">
                        <a>أ. أمل</a>
                    </span><span class="location">وراق</span>

                </div>
            </td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>08:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>09:00</td>
            
            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>09:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>10:00</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>10:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>11:00</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>11:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>12:00</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>12:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>13:00</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>13:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>14:00</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="has-events" rowspan="4">

                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">تصميم نظم التشغيل</span> <span class="lecturer">
                        <a>
                            د. محمد بابكر
                        </a>
                    </span> <span class="location">مبارك</span>
                </div>
            </td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>14:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>15:00</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>15:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>16:00</td>

            <td class="has-events" rowspan="4">

                <div class="row-fluid practice" style="width: 99%; height: 100%;">


                    <span class="title">إدارة وأمن شبكات</span> <span class="lecturer">
                        <a>
                            أ. أحمد حامد
                        </a>
                    </span> <span class="location">وراق</span>
                </div>
            </td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="has-events" rowspan="4">

                <div class="row-fluid practice" style="width: 99%; height: 100%;">


                    <span class="title">مفاهيم لغات البرمجة</span> <span class="lecturer">
                        <a>
                            أ. هديل
                        </a>
                    </span> <span class="location">مبارك</span>
                </div>
            </td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>16:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>17:00</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>17:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>18:00</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>18:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>19:00</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>19:30</td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

            <td class="no-events" rowspan="1"></td>

        </tr>
    </tbody>
</table>